<div id="main">
  
  <%= link_to("Create a new user", new_user_path) %>

  <ul>
  <% @chapters.each do |chapter| %>
    <li><%= h(chapter.name) %>
      <ul>
      <% chapter.trustees.each do |user| %>
        <li><%= link_to h(user.name), edit_user_path(user) %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
  
  <% unless @orphans.empty? %>
    <li>Orphans (users without a chapter)
    <ul>
    <% @orphans.each do |user| %>
      <li><%= link_to h(user.name), edit_user_path(user) %></li>
    <% end %>
  <% end %>
  </ul>

</div>
